:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;

  --card: 0 0% 98%;
  --card-foreground: 0 0% 3.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;

  --primary: 16 99% 65%;
  --primary-foreground: 0 0% 3.9%;

  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;

  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;

  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 0%;

  --warning: 31 98% 50%;
  --warning-foreground: 0 0% 0%;

  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;

  --radius: 0.5rem;
}

[data-kb-theme="dark"] {
  --background: 240 4% 10%;
  --foreground: 0 0% 98%;

  --card: 240 4% 8%;
  --card-foreground: 0 0% 98%;

  --popover: 240 4% 8%;
  --popover-foreground: 0 0% 98%;

  --primary: 77 100% 74%;
  --primary-foreground: 0 0% 9%;

  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;

  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;

  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --warning: 31 98% 50%;
  --warning-foreground: 0 0% 0%;

  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
}


* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
}